h1 {
    text-align: center;
}

.row {
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;    
}

.slot {
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    height: 99%;
    border: 1px solid black;
}
